.wrapper {
    border: "1px solid #ccc";
    border-radius: "8px";
    padding: "10px";
    margin-bottom: "10px";
    background: "#f9f9f9"; 
}

.amount-green{
    color: "green";
    font-weight: "bold";
}

.amount-red{
    color: "red";
    font-weight: "bold";
}

.trans-div{
    display: "flex";
    justify-content: "space-between";
    align-items: "center";
}

