.transactionList {
  background-color: rgb(225, 243, 255);
  border-radius: 15px;
  padding: 20px;
  color: #333;
  margin-right: 50px; 
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h2 {
  margin: 0;
  font-size: 20px;
}

.searchButton {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.transactionsContainer {
  max-height: 320px;
  overflow-y: auto;
  
  scrollbar-width: thin;
  scrollbar-color: #333 #f1f1f1;
}

.transactionsContainer::-webkit-scrollbar {
  width: 6px;
}

.transactionsContainer::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 3px;
}

.transactionsContainer::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

.transactionsContainer::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.transaction {
  padding: 15px;
      border-radius: 10px;
  border-bottom: 1px solid #888;
  cursor: pointer;
  transition: background-color 0.2s;
}

.transaction:hover {
  background-color: #f8f9fa;
}

.transactionBasic {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transactionDetails {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px dashed #eee;
}

.detailRow {
  display: flex;
  margin: 5px 0;
  font-size: 0.9em;
}

.label {
  font-weight: bold;
  width: 40px;
}

.value {
  color: #333;
  margin-left: 5px;
}

.amount {
  font-weight: bold;
}

.negative {
  color: #d40015ce;
}

.positive {
  color: #28a745;
}

.expanded {
  background-color: #f8f9fa;
}

.transactionDate {
  color: #666;
  font-size: 0.9em;
} 